<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <meta charset="UTF-8">
    <title>Lex
    </title>
</head>

<body>
    <div class="forma-centr">
        <div class="form_section">
            <div class="login-form">
                <p class="login_title">Login</p>
                <div class="field">
                    <form action="/login" method="POST" class="form-style">
                        <div class="input-space">
                            <input type="text" placeholder="LOGIN" name="login" class="text">
                        </div>
                        <div class="input-space">
                            <input type="password" placeholder="PASSWORD" name="password">
                        </div>
                        <div class="button-form">
                            <button type="submit">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>